html,body{
    overflow-x: hidden;
    font-family: 'Source Code Pro', monospace;
    background-color: #3D2C8D;
}
h1 {
    font-size: 2.7rem;
    font-weight: 600;
}
.first-container {
    background-color: #1C0C5B;
    margin: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.gullosen-head {
    margin: 0;
    padding: 0.5rem 0;
    position: relative;
    left: 3%;
    color: #C996CC;
}
.gullosen-head:hover {
    color: #99729b;
}
.fa-github {
    position: absolute;
    right: 5%;
    top: 15%;
    padding-top: 0.7rem;
    font-size: 1.7rem;
    color: #C996CC;
}
.fa-github:hover {
    color: #99729b;
}
.second-container {
    background-color: #C996CC;
    margin: 0;
}
.second-head {
    margin: 0;
    text-align: center;
    padding: 7rem 5rem 1.5rem 1.5rem;
    width: 60%;
    line-height: 4rem;
    position: relative;
    left: 24%;
    color: #3D2C8D;
}
.bob-img {
    position: relative;
    left: 25%;
    height: 32rem;
    padding: 3rem 0 6rem 0;
}
.third-container {
    background-color: #3D2C8D;
    margin: 0;
    color: #CDDEFF;
}
.third-head {
    text-align: center;
    margin: 0;
    padding: 4rem;
    position: relative;
    left: 4%;
}
.cloud-img {
    position: relative;
    left: 10%;
    top: 3.5rem;
    height: 12rem;
}
.cloud-div {
    position: relative;
    bottom: 4rem;
}
.edit-button {
    position: relative;
    left: 70%;
    bottom: 4rem;
    padding: 1rem;
    font-size: 1.7rem;
    background-color: #1C0C5B;
    color: #C996CC;
    border: 0;
}
.edit-button:hover {
    box-shadow: 5px 5px #12083b;
    color: #CDDEFF;
}
.hassle-text {
    position: relative;
    left: 64%;
    bottom: 2rem;
    width: 30%;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}
.fourth-container {
    padding: 0;
    margin: 0;
    border: 0;
}
.left-container {
    margin: 0;
    position:relative;
    background-color: #FF0075;
    padding: 0;
    border: 0;
    z-index: 0;
    color: #2b2b2b;
}
.content-div {
    padding: 2rem;
    margin: 0;
}
.row, .col-lg-6, .col-sm-12 {
    margin: 0;
}
.left-head {
    margin: 0;
    padding: 2rem 2rem 0.5rem 2rem;
}
.left-subhead {
    margin: 0;
    padding: 0.5rem 2rem 1rem 2rem;
}
.right-container {
    margin: 0;
    border: 0;
    position: relative;
    padding: 0;
    background-color: #2b2b2b;
}
.demo-img {
    margin: 0;
    position: relative;
    height: 30rem;
    left: 25%;
    top: 15%;
}

@media (max-width: 1110px) {
    .bob-img {
        position: relative;
        height: 26rem;
        left: 25%;
    }
   }
@media (max-width: 1000px) {
    .right-container {
        height: 100%;
    }
    .demo-img {
        position: relative;
        margin: 2.5rem;
        height: 30rem;
    }
}
@media (max-width: 800px) {
    .bob-img {
        height: 21rem;
        left: 15%;
    }
    .cloud-img {
        visibility: hidden;
        height: 1px;
    }
    .cloud-div {
        position: relative;
        right: 30%;
        bottom: 20%;
    }
    .edit-button {
        margin: 2rem 0 0;
    }
    .hassle-text {
        position: relative;
        left: 68%;
        font-size: 1.2rem;
    }

}
